.wrapper {
  margin: 0 auto 0 auto;
  width: 500px;
  height: 300px;
  text-align: center;
}

a { 
  padding: 10px;
  display: inline-block;
}

input {
  margin: 1rem 0 2rem 0;
}

.totalSum {
  text-align: right;
  font-weight: bold;
}

.form-wrapper {
  margin-top: 300px;
}

.valueExchangeRates {
  width: 10rem;
}

select {
  width: auto; 
  padding: .5rem;
  margin: 1rem; 
  background-color: #fff;
}

input { 
  padding: .5rem;
}

.diff-positive, 
.diff-negative {
  padding-left: 1rem;
}

.diff-positive {
  color: green;
}
.diff-negative {
  color: red;
}